/*Home Page*/
body{
    background-color: rgb(206, 206, 206);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.nav_home{
    width: 100%;
    height: 150px;
    background-color: #252525;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    a{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }
    nav a:active{
        color: #ff8000;
    }
    nav a:hover{
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .nav_mclaren_logo{
        width: 25%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .mclaren_logo_nav{
            width: 160px;
            height: 89px;
        }

    .nav_home_about_contact_cars_txt{
        width: 50%;

        display: flex;
        justify-content: space-evenly;
    }

    .nav_home_about_contact_cars_txt div{
        text-align: center;

        width: 25%;
        height: 100%;
    }

    .nav_shopping_cart{
        width: 25%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
       .shopping_cart_nav{
            width: 70px;
            height: 62px;
       }

header{

}
    
main{

}

footer{
    width: 100%;
    height: 770px;
    background-color: #252525;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    display: flex;
    flex-direction: row;
}
    .footer_menu{
        font-size: 40px;
        width: 50%;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 50px;
    }
        .footer_menu h1{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .footer_menu a{
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            font-style: normal;

            margin: 20px;
        }
            .footer_menu a:hover{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;

                margin: 20px;
            }
            .footer_menu a:active{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
                color: #ff8000;

                margin: 20px;
            }

    .footer_follow_us{
        font-size: 40px;
        width: 50%;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 50px;

    }
        .footer_follow_us h1{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .footer_follow_us a{
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            font-style: normal;

            margin: 20px;
        }
            .footer_follow_us a:hover{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;

                margin: 20px;
            }
            .footer_follow_us a:active{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
                color: #ff8000;

                margin: 20px;
            }


/*Header*/
header{
    height: 830px;

    border: 1px solid black;

    background-image: url(images/765LT-Hero-3-1920x1080-crop-16x9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    align-items: center;

}
    header div{
        width: 700px;
        height: 600px;

        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;

        margin: 100px;

    }
    header h1{
        font-size: 96px;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;

        margin: 20px;
    }