/*Home Page*/
body{
    background-color: rgb(206, 206, 206);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

/*Navigation bar*/
.nav_home{
    width: 100%;
    height: 150px;
    background-color: #252525;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    a{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

    .nav_mclaren_logo{
        width: 25%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .mclaren_logo_nav{
            width: 160px;
            height: 89px;
        }

    .nav_home_about_contact_cars_txt{
        width: 50%;

        display: flex;
        justify-content: space-evenly;
    }

        .nav_home_about_contact_cars_txt a:active{
            color: #ff8000;
        }
        .nav_home_about_contact_cars_txt a:hover{
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            font-style: normal;font-family: "Roboto", sans-serif;
            font-weight: 100;
            font-style: normal;

            font-size: 35px;
            transition: 0.5s;
        }

        .nav_home_about_contact_cars_txt div{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 25%;
            height: 100px;
        }

    .nav_shopping_cart{
        width: 25%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
       .shopping_cart_nav{
            width: 70px;
            height: 62px;
       }
       .shopping_cart_nav:hover{
            scale: 1.2;
            transition: 0.5s;
       }

/*Header*/
header{
    
}

/*Main*/    
main{
    background-color: #1A1C1E;
}
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
        .car_box{
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 80px 20px 80px 20px;
        }
            .mclaren_box{
                display: flex;
                justify-content: center;
            }
                .car_img{
                    width: 90%;
                }    
        .name_box{
            padding: 10px;
            font-size: 40px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .price_box{
            padding: 10px;
            font-size: 40px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .link_box{
            background-color: #5F5F5F;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 30px;
            width: 150px;
            height: 45px;
            border-radius: 10px;
            margin-top: 10px;
        }
            .link_box:hover{
                background-color: #3f3f3f;
                transition: 0.4s;
            }
            .link_box:active{
                color: #ff8000;
            }
         
/*Footer*/
footer{
    width: 100%;
    height: 770px;
    background-color: #252525;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    display: flex;
    flex-direction: row;
}
    .footer_menu{
        font-size: 40px;
        width: 50%;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 50px;
    }
        .footer_menu h1{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .footer_menu a{
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            font-style: normal;

            margin: 20px;
        }
            .footer_menu a:hover{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;

                margin: 20px;
            }
            .footer_menu a:active{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
                color: #ff8000;

                margin: 20px;
            }

    .footer_follow_us{
        font-size: 40px;
        width: 50%;

        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 50px;

    }
        .footer_follow_us h1{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .footer_follow_us a{
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            font-style: normal;

            margin: 20px;
        }
            .footer_follow_us a:hover{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;

                margin: 20px;
            }
            .footer_follow_us a:active{
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: normal;
                color: #ff8000;

                margin: 20px;
            }